$color-white: #ffffff;
$color-gray: rgba(136, 136, 136, 1);
$color-gray-light: rgba(246, 249, 255, 1);
$color-gray-dark: rgba(136, 136, 136, 1);
$color-blue-dark: #0050ef;
$color-blue-sky: rgba(16, 178, 208, 1);
$color-blue-light: rgba(0, 80, 239, 0.06);

$font-primary: "Montserrat", sans-serif;

$breakpoint-sm: 20em;
$breakpoint-md: 28.125em;
$breakpoint-lg: 75em;
