$color-white: #ffffff;
$color-gray: rgba(136, 136, 136, 1);
$color-blue-dark: #0050ef;

$font-primary: "Montserrat", sans-serif;

$breakpoint-sm: 20em;
$breakpoint-md: 28.125em;
$breakpoint-lg: 75em;
