@import "../../styles/variables.scss";

.input {
  border: none;
  margin-left: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: $color-gray-dark;
  width: 10.5rem;

  @media only screen and (max-width: $breakpoint-mdsm) {
    width: 100%;
  }
}
